button {
    background-color: $accentColour;
    border: none;
    font-family: 'Abril Fatface', regular;
    font-size: 20px;
    color: $black;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;


}
.pages {
    background-color: $white;
}

body {
    font-family: 'Montserrat', regular;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0px;



}