header {
    background-color: $headerColour;
    padding-bottom: 110px;
}
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    padding: 20px;    
}

a:link {
text-decoration: none;
color: $white;
}

a:visited {
text-decoration: none;
color: $white;

}


.headerImageContainer  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 20px;
    height: 500px;
    
}

.portraitWrapper {
    position: relative;
    flex: 0 0 35%;
}
.titleWrapper {
    flex: 0 0 65%;
}
// // div {
// //     display: flex;
// // }
.curvyText{
    position: relative;
    top: 165px;
    right: 25px;
}
h1 {
    color: $white;
    font-size: 80px;
    font-family: 'Abril Fatface', regular;
    line-height: 92px;
    letter-spacing: 1px;
    position: relative;
    left: 160px;
}

.portrait {
    box-shadow: 12px 12px 0 $white;
}

.home {
    color: $accentColour;
}

.contact{
    color: $accentColour;
}

.willow {
    font-size: 1.6rem;
    font-family: 'Abril Fatface', regular;
}
