.whosWillow {
    background-color: $white;
    padding-top: 100px;
    padding-bottom: 125px;
}
.favouriteThings {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

p {
    font-family: 'Montserrat', regular;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0px;
}

.bridge {
    width: 50%;
    float: left;
}
.waterfall {
box-shadow: 12px 12px 0 $shadowColour;
background-color: $shadowColour;
padding-left: 250px;
position: relative;
right: 250px;
}
.favouriteWrapper {
    width: 50%;
    float: left;

}
.favText {
    position: relative;
    left: 50px;
}
.bucketWrapper {
    width: 50%;
    float: left;
}
.flowerWrapper {
    width: 50%;
    float: left;
}
.floral {
    box-shadow: 15px 20px 0 $shadowColour;
background: $shadowColour;
padding-right: 250px;
position: relative;
left: 25px;
}

.gallery {
padding: 30px;
margin: 15px;
display: flex;
justify-content: space-between;
}

.willowsJourney {
    background-color: $white;
}

.raincoatWrapper {
    width: 50%;
    float: left;
}
.journeyWrapper {
    width: 50%;
    float: left;
}


h6 {
    font-family: 'Abril Fatface', regular;
    font-size: 32px;
    color: $black;
    letter-spacing: 1px;
}